{% extends 'base.html.twig' %}


{% block body  %}
<!-- Page content -->
    <style>
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}
    </style>
    <body>
<div class="w3-content" style="max-width:2000px;margin-top:46px">


    <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
        <img src="/img/main/bookResize.jpg" style="width:100%;height:677px;">
        {#<div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">#}
            {#<h3>Livres</h3>#}
            {#<p><b>la source de la l</b></p>#}
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                <h3>Maximisez vos chances pour trouver l'emploi de vos rêves</h3>
                {#<p><b>lumière est la science </b></p>#}
            </div>
        {#</div>#}
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="/img/main/help.jpg" style="width:100%;height:677px;">
        {#<h1 class="page-title" style="text-align: center;margin: 0;padding: 0;position:absolute;margin-top: 10px;">#}
            {#Maximisez vos chances pour trouver l'emploi de vos rêves</h1>#}
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <h3>Maximisez vos chances pour trouver l'emploi de vos rêves</h3>
            {#<p><b>lumière est la science </b></p>#}
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="/img/main/peopleResize.jpg" style="width:100%;height:677px;">
        {#<div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">#}
            {#<h3>Chicago</h3>#}
            {#<p><b>Thank you, Chicago - A night we won't forget.</b></p>#}
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                <h3>Maximisez vos chances pour trouver l'emploi de vos rêves</h3>
                {#<p><b>lumière est la science </b></p>#}
            </div>
        {#</div>#}
    </div>

    <!-- The Band Section -->
    <div class="w3-container w3-center w3-padding-64" style="background: #73747B;color: white;" id="band">
        <h2 class="w3-wide">Plateforme de Coaching Collaboratif</h2>
        <p class="w3-opacity"><i>L'entraide est la clé de la réuissite</i></p>
        <p class="w3-wild" style="font-family:Helvetica; font-size: 25px;text-align:center">
            <i>Vous cherchez un emploi</i>
            <br>
            <i>Maximisez vos chances en demandant conseils aux experts </i><br>
            <i>Vous êtes contents de ce que vous faites ! </i><br>
            <i>Partagez votre experience avec les jeunes diplomés</i>
        </p>
        {#<div class="w3-row w3-padding-32">#}
            {#<div class="w3-third">#}
                {#<p>Name</p>#}
                {#<img src="/img/main/book.jpeg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">#}
            {#</div>#}
            {#<div class="w3-third">#}
                {#<p>Name</p>#}
                {#<img src="/img/main/book.jpeg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">#}
            {#</div>#}
            {#<div class="w3-third">#}
                {#<p>Name</p>#}
                {#<img src="/img/main/book.jpeg" class="w3-round" alt="Random Name" style="width:60%">#}
            {#</div>#}
        {#</div>#}
    </div>

    <!-- tutorial section -->
    <div class="how-it-works-timeline">
        <div class="hidden-xs" STYLE="text-align: center;margin-top: 100px;">
            <svg width="50px" height="769px" viewBox="545 99 50 769" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <path d="M3,19 C4.65685425,19 6,17.6568542 6,16 C6,14.3431458 4.65685425,13 3,13 C1.34314575,13 0,14.3431458 0,16 C0,17.6568542 1.34314575,19 3,19 Z" id="path-1"></path>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                        <feOffset dx="0" dy="1" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 1   0 0 0 0 0.8   0 0 0 0 0  0 0 0 1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                    </filter>
                    <path d="M3,19 C4.65685425,19 6,17.6568542 6,16 C6,14.3431458 4.65685425,13 3,13 C1.34314575,13 0,14.3431458 0,16 C0,17.6568542 1.34314575,19 3,19 Z" id="path-3"></path>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-4">
                        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                        <feOffset dx="0" dy="1" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0.996078431   0 0 0 0 0.262745098   0 0 0 0 0.396078431  0 0 0 1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                    </filter>
                    <path d="M3,19 C4.65685425,19 6,17.6568542 6,16 C6,14.3431458 4.65685425,13 3,13 C1.34314575,13 0,14.3431458 0,16 C0,17.6568542 1.34314575,19 3,19 Z" id="path-5"></path>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-6">
                        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                        <feOffset dx="0" dy="1" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0.380392157   0 0 0 0 0.823529412   0 0 0 0 0.839215686  0 0 0 1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                    </filter>
                    <linearGradient x1="50%" y1="100%" x2="50%" y2="3.061617e-15%" id="linearGradient-7">
                        <stop stop-color="#FFFFFF" offset="0%"></stop>
                        <stop stop-color="#FFFFFF" stop-opacity="0.5" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g id="Line" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(545.000000, 99.000000)">
                    <path d="M25,11 L25,750" stroke="#C4C4CE" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.01,14" opacity="0.599999964"></path>
                    <g id="yellow-dot" transform="translate(22.000000, 527.000000)">
                        <path d="M3,4 C4.1045695,4 5,3.1045695 5,2 C5,0.8954305 4.1045695,0 3,0 C1.8954305,0 1,0.8954305 1,2 C1,3.1045695 1.8954305,4 3,4 Z" id="Oval-189" fill="#F6E292"></path>
                        <path d="M3,32 C4.1045695,32 5,31.1045695 5,30 C5,28.8954305 4.1045695,28 3,28 C1.8954305,28 1,28.8954305 1,30 C1,31.1045695 1.8954305,32 3,32 Z" id="Oval-189-Copy-6" fill="#F6E292"></path>
                        <g id="Oval-189-Copy-5">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                            <use fill="#FFCC00" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                    </g>
                    <g id="red-dot" transform="translate(22.000000, 107.000000)">
                        <path d="M3,4 C4.1045695,4 5,3.1045695 5,2 C5,0.8954305 4.1045695,0 3,0 C1.8954305,0 1,0.8954305 1,2 C1,3.1045695 1.8954305,4 3,4 Z" id="Oval-189" fill="#FFA5B5"></path>
                        <path d="M3,32 C4.1045695,32 5,31.1045695 5,30 C5,28.8954305 4.1045695,28 3,28 C1.8954305,28 1,28.8954305 1,30 C1,31.1045695 1.8954305,32 3,32 Z" id="Oval-189-Copy-2" fill="#FFA2B3"></path>
                        <g id="Oval-189-Copy">
                            <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                            <use fill="#FE4365" fill-rule="evenodd" xlink:href="#path-3"></use>
                        </g>
                    </g>
                    <g id="blue-dot" transform="translate(22.000000, 317.000000)">
                        <path d="M3,32 C4.1045695,32 5,31.1045695 5,30 C5,28.8954305 4.1045695,28 3,28 C1.8954305,28 1,28.8954305 1,30 C1,31.1045695 1.8954305,32 3,32 Z" id="Oval-189" fill="#B3E9EB"></path>
                        <path d="M3,4 C4.1045695,4 5,3.1045695 5,2 C5,0.8954305 4.1045695,0 3,0 C1.8954305,0 1,0.8954305 1,2 C1,3.1045695 1.8954305,4 3,4 Z" id="Oval-189-Copy-4" fill="#B3E9EB"></path>
                        <g id="Oval-189-Copy-3">
                            <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
                            <use fill="#61D2D6" fill-rule="evenodd" xlink:href="#path-5"></use>
                        </g>
                    </g>
                    <rect id="Rectangle-184" fill="url(#linearGradient-7)" x="0" y="680" width="50" height="89"></rect>
                    <rect id="Rectangle-184-Copy" fill="url(#linearGradient-7)" transform="translate(25.000000, 44.500000) scale(1, -1) translate(-25.000000, -44.500000) " x="0" y="0" width="50" height="89"></rect>
                </g>
            </svg>
        </div>

        <div class="how-it-works-item profile animate-show-up" style="opacity: 1; top: 1140px;box-sizing:border-box;position:absolute;text-align:left;margin-top:100px;max-width:460px;left: 52%;">
            <div class="how-it-works-icon" style="color:#FE4365;">

                <svg width="46px" height="46px" viewBox="67 -1 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="create-your-profile-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(68.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                        <g id="Group" stroke="#FE4365" stroke-width="2">
                            <path d="M36,39 C35.7,34.2 33,32.7 29,31.4 C26,30.4 25.1,27.2 24.9,25.5" id="Shape"></path>
                            <path d="M19.1,25.4 C18.9,27.1 18,30.3 15,31.4 C11,32.7 8.3,34.2 8,39" id="Shape"></path>
                            <path d="M22,26 L22,26 C17.6,26 14,22.4 14,18 L14,16 C14,11.6 17.6,8 22,8 L22,8 C26.4,8 30,11.6 30,16 L30,18 C30,22.4 26.4,26 22,26 L22,26 Z" id="Shape"></path>
                            <circle id="Oval" cx="22" cy="22" r="22"></circle>
                        </g>
                    </g>
                </svg>

            </div>

            <div class="blurb animate-blurb">
                <h2 class="how-it-works-header" style="line-height: 28px;color:#FE4365;">
                    Crée ton profil en une minute
                </h2>

                <h3 style="line-height: 28px;font-size:18px;">
                    Parle-nous de toi et de ton dream job.
                </h3>
            </div>
        </div>
        <div class="how-it-works-item get-offers animate-show-up" style="opacity: 1;right: 52%; top: 1400px;box-sizing:border-box;position:absolute;text-align: left;margin-top: 100px;max-width: 460px">
            <div class="how-it-works-icon" style="color:#61D2D6;text-align: right;">

                <svg width="45px" height="46px" viewBox="-1 -1 45 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="job-offers-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M8,10 L8,6 C8,4.3 9.3,3 11,3 L11,3 C12.7,3 14,4.3 14,6 L14,10" id="Shape" stroke="#61D2D6" stroke-width="2"></path>
                        <path d="M14,10 L14,5 C14,3.3 15.3,2 17,2 L17,2 C18.7,2 20,3.3 20,5 L20,10" id="Shape" stroke="#61D2D6" stroke-width="2"></path>
                        <path d="M26,10 L26,5 C26,3.3 27.3,2 29,2 L29,2 C30.7,2 32,3.3 32,5 L32,10" id="Shape" stroke="#61D2D6" stroke-width="2"></path>
                        <path d="M20,10 L20,3 C20,1.3 21.3,0 23,0 L23,0 C24.7,0 26,1.3 26,3 L26,10" id="Shape" stroke="#61D2D6" stroke-width="2"></path>
                        <polyline id="Shape" stroke="#61D2D6" stroke-width="2" points="25.1 29 0 29 0 10 43 10 43 29 38 29"></polyline>
                        <circle id="Oval" stroke="#61D2D6" stroke-width="2" cx="21" cy="20" r="4"></circle>
                        <path d="M12,15 L6,15" id="Shape" stroke="#61D2D6" stroke-width="2"></path>
                        <path d="M8,29 C8,37.3 14.7,44 23,44 C31.3,44 38,37.3 38,29 L38,16 C34.5,16 32,18.5 32,22 L32,26 C27.3,26 23,29.7 23,34" id="Shape" stroke="#61D2D6" stroke-width="2"></path>
                    </g>
                </svg>

            </div>

            <div class="blurb animate-blurb">
                <h2 class="how-it-works-header" style="line-height: 28px;color:#61D2D6;">
                    Cherche ton mentor sur le site
                </h2>

                <h3 style="line-height: 28px;font-size:18px;">
                    Contacte le afin d'organiser un Coaching.
                </h3>
            </div>
        </div>
        <div class="how-it-works-item pick-job animate-show-up" style="opacity: 1; top: 1580px;box-sizing: border-box;position:absolute;text-align: left;margin-top:100px;max-width:460px;left:52%">
            <div class="how-it-works-icon" style="color:#FFCC00;">

                <svg width="46px" height="46px" viewBox="-1 -1 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="pick-job-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <circle id="Oval" stroke="#FFCC00" stroke-width="2" cx="22" cy="22" r="22"></circle>
                        <circle id="Oval" stroke="#FFCC00" stroke-width="2" cx="22" cy="22" r="14"></circle>
                        <circle id="Oval" stroke="#FFCC00" stroke-width="2" cx="22" cy="22" r="6"></circle>
                    </g>
                </svg>

            </div>

            <div class="blurb animate-blurb">
                <h2 class="how-it-works-header" style="line-height: 28px;color:#FFCC00;">
                    Donne nous ton feedback du coaching.
                </h2>

                <h3 style="line-height: 28px;font-size:18px;">
                    A ton tour d'aider les autres, donc rends toi disponible.
                </h3>
            </div>

        </div>
    </div>
    <!-- The Tour Section -->
    <div class="w3-black" id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
            <h2 class="w3-wide w3-center">Vous voulez devenir </h2>
            <p class="w3-opacity w3-center"><i>le prochain</i></p><br>

            {#<ul class="w3-ul w3-border w3-white w3-text-grey">#}
                {#<li class="w3-padding">September <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>#}
                {#<li class="w3-padding">October <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>#}
                {#<li class="w3-padding">November <span class="w3-badge w3-right w3-margin-right">3</span></li>#}
            {#</ul>#}

            <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                <div class="w3-third w3-margin-bottom">
                    <img src="/img/main/datascience.png" alt="New York" style="width:100%" class="w3-hover-opacity">
                    {#<div class="w3-container w3-white">#}
                        {#<p><b>New York</b></p>#}
                        {#<p class="w3-opacity">Fri 27 Nov 2016</p>#}
                        {#<p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>#}
                        {#<button class="w3-btn w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>#}
                    {#</div>#}
                </div>
                <div class="w3-third w3-margin-bottom">
                    <img src="/img/main/Ingfinance.png" alt="Paris" style="width:100%" class="w3-hover-opacity">
                    {#<div class="w3-container w3-white">#}
                        {#<p><b>Paris</b></p>#}
                        {#<p class="w3-opacity">Sat 28 Nov 2016</p>#}
                        {#<p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>#}
                        {#<button class="w3-btn w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>#}
                    {#</div>#}
                </div>
                <div class="w3-third w3-margin-bottom">
                    <img src="/img/main/webDev.png" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
                    {#<div class="w3-container w3-white">#}
                        {#<p><b>San Francisco</b></p>#}
                        {#<p class="w3-opacity">Sun 29 Nov 2016</p>#}
                        {#<p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>#}
                        {#<button class="w3-btn w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>

    <!-- Ticket Modal -->
    <div id="ticketModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-8">
            <header class="w3-container w3-teal w3-center w3-padding-32">
        <span onclick="document.getElementById('ticketModal').style.display='none'"
              class="w3-closebtn w3-padding-xlarge w3-xxlarge w3-display-topright">×</span>
                <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
            </header>
            <div class="w3-container">
                <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
                <input class="w3-input w3-border" type="text" placeholder="How many?">
                <p><label><i class="fa fa-user"></i> Send To</label></p>
                <input class="w3-input w3-border" type="text" placeholder="Enter email">
                <button class="w3-btn-block w3-teal w3-padding-12 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
                <button class="w3-btn w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
                <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
            </div>
        </div>
    </div>

    <!-- The Contact Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2 class="w3-wide w3-center">CONTACT</h2>
        <p class="w3-opacity w3-center"><i>Critique ? ou Compliment ! N'hésitez pas à nous donner vos impressions ! :) </i></p>
        <div class="w3-row w3-padding-32">
            <div class="w3-col m6 w3-large w3-margin-bottom">
                <i class="fa fa-map-marker" style="width:30px"></i> Paris, FR<br>
                <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
                <i class="fa fa-envelope" style="width:30px"> </i> Email: CoachCol@gmail.com<br>
            </div>
            <div class="w3-col m6">
                <form action="form.asp" target="_blank">
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                        </div>
                    </div>
                    <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                    <button class="w3-btn w3-section w3-right" type="submit">ENVOYER</button>
                </form>
            </div>
        </div>
    </div>

    <!-- End Page Content -->
</div>
<script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 4000);
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


    </body>
{% endblock %}

