{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>cours</th>
                <th>theme</th>
            </tr>
            </thead>
            <tbody>
            {% for cours in courses %}
                <tr>
                    <th scope ="row">{{ cours.id }}</th>
                    <td>{{ cours.name }}</td>
                    <td>{{ cours.theme }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}